<div class="container">
  <div class=" ">

      <mat-card>
        <mat-card-title>
          Doctor's List
        </mat-card-title>
        <mat-card-subtitle>
          <mat-form-field appearance="standard">
            <mat-label>Search Doctor</mat-label>
            <input matInput type="search" (keyup)="applyFilter($event)" placeholder="search name or username" #input>
          </mat-form-field>
        </mat-card-subtitle>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="demo-table" >

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let doctor"> {{doctor.name}} </td>
              </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                 <td mat-cell *matCellDef="let doctor"> {{doctor.username}}   </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let doctor"> {{doctor.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let doctor"> {{doctor.phone }} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> City </th>
              <td mat-cell *matCellDef="let doctor"> {{doctor.address.city }} </td>
           </ng-container>

            <ng-container matColumnDef="website">
                <th mat-header-cell *matHeaderCellDef> Website </th>
                <td mat-cell *matCellDef="let doctor"> {{doctor.website}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter"{{input.value}}"</td>
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-content>
      </mat-card>



  </div>

  </div>
